.footer {
  display: flex;
  width: 100%;
  background-color: #1C254C;
  font-size: 1.8rem;
  height: 370px;
  color: #fff;
  justify-content: flex-end;
  align-items: center;
  flex-direction: column;
  // border: 1px solid red;
  .foot-inner{
    width: 95%;
    height: 350px;
    display: flex;
    // border: 1px solid red;
    .foot-header{
      width: 80%;
      // border: 1px solid blue;
      display: flex;
      flex-direction: column;
      justify-content: center;//上下居中
      // align-items: center;
      div{
        // border: 1px solid black;
      }
      .logo{
        display: flex;
        // border: 1px solid black;
        width: 100%;
        justify-content: space-around;
        align-items: center;
        // font-size: 22px;
        // font-weight: bold;
        img{
          margin-right: 20px;
        }

        .cont{
          flex-direction: column;
          text-align: center;
          line-height: 35px;
          div:nth-child(1){
            font-weight: bold;
            font-size: 16px;
          }
          img{
            margin-top: 0.5rem;
            transition: all 0.6s;
          }
          img:hover{
            transform: scale(1.15);
          }
        }
      }

      .m-bd{
        // border: 1px solid black;
        display: flex;
        font-size: 17px;
        height: 100px;
        margin-top: 57px;
        flex-direction: row;
        align-items: center;//垂直居中
        justify-content: flex-start;
        div{
          flex: 0.95;
          // border: 1px solid red;
          // margin-left: 4rem;
          display: -webkit-box;//谷歌
          -webkit-box-orient: vertical;
          -webkit-line-clamp: 2;//显示几行
          overflow: hidden;
        }
        Button{
          // margin-left: 15%;
          width: 19%;
          height: 6rem;
          border-radius: 5rem;
        }
      }
      
    }
    .content{
      align-items: center;
      display: flex;
      flex-direction: row;
      justify-content:space-around;
      width: 35%;
      font-size: 15px;
      // border: 1px solid blue;
      .cont{
        flex-direction: column;
        text-align: center;
        line-height: 35px;
        div:nth-child(1){
          font-weight: bold;
          font-size: 16px;
        }
        img{
          margin-top: 0.5rem;
          transition: all 0.6s;
        }
        img:hover{
          transform: scale(1.18);
        }
      }
    }
    
    
  }
  .n-bd{
    // border: 1px solid black;
    padding-left: 20px;
    display: flex;
    font-size: 14px;
    flex-direction:row;
    width: 100%;
    .nnn{
      flex: 1;
    }
  }
  
}